.l-header{
    display: flex;
    align-items: center;
    background-color: var(--secundary);
    width: 100%;
    height: 40px;
    position: absolute;
    transition: 1s;
    z-index: 1000;
    top:0;
    justify-content: space-between;
}
.perfilheader{
    width: 39px;
    height:39px;
    margin-left: 10px;
    cursor: pointer;
}
.perfilheader:hover{

}
.name{
    position: absolute;
    left: 60px;
}
.logobtn{
    height: 25px;

    margin-right: 10px;
    cursor: pointer;
    background-color: transparent;
}

.l-nav{
    position: absolute;
    background-color: var(--third);
    width: 100%;
    height: 30px;
    top: -50px;
    transition: 1s ease;
    z-index: 998;
    display: flex;
    justify-content: space-around;
}
.tema{
    width: 40px;
    height: 20px;
    border-radius: 50px;
    background-color: var(--primary);
    overflow: hidden;
    cursor: default;
}
.btswitch{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s ease;
    background-color: var(--detals);
}
.effect{
    width: 0px;
    height: 1px;
    background-color: var(--detals);
    z-index: 1000;
    margin-top: 40px;
    transition: 1s ease-in;
}
.l-header:hover ~ .effect{
    width: 100vw;
}