@import url(colors.css);
@import url(componentes.css);
@import url(active.css);
@import url(fonts.css);
:root{
    --magic: 200px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consola;
}
body{
    background-image: url(/assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--text-primary);
    width: 100vw;
    height: 100vh;
    transition: 1s ease;
}
#l-header{
    background-color: var(--surface);
    width: 100%;
    height: 0px;
    position: relative;
    overflow: hidden;
    transition: 1s;
}
#l-nav{
    position: absolute;
    background-color: #00000060;
    width: 100%;
    height: 30px;
    bottom: 10000px;
    transition: 1s;
}
#logobtn{
    width: 30px;
    cursor: pointer;
}
#ul-nav{
    gap: 40px;
}
main{
    width: 100%;
    height: 100%;
    position: relative;
}
#container{
    max-height: 500px ;
    max-width: 600px;
    min-width: 400px ;
    min-height: 500px ;
    border-radius: 5px;
    background-color: #ffffff15;
    border-top: 1px solid #ffffff70;
    border-left: 1px solid #ffffff70;
    border-right: 1px solid #00000050;
    border-bottom: 1px solid #00000050;
    backdrop-filter: blur(10px);
    transition: 1s ease;
}
#container::before{
    filter: blur(10px);
    content: "";
    width: 60%;
    height: 80%;
    position: absolute;
}
#logocenter{
    width: 1000px;
    position: absolute;
}
.title{
    position: absolute;
    top: 30px;
    color: #ffffff;
}
#ulformsig{
    flex-direction: column;
    gap: 20px;

}
#cardsig{
    position: absolute;
    top: 0px;
}
#cardsig:hover{
    top: 0;
}
#btntroca{
    position: absolute;
    bottom: 80px;
}