@import url(colors.css);
@import url(componentes.css);
@import url(active.css);
@import url(fonts.css);
:root{
    --magic: 200px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consola;
}
body{
    background-color: #1a1a1a;
    color: var(--text-primary);
    width: 100vw;
    height: 100vh;
    transition: 1s ease;
}
#l-header{
    background-color: #333;
    width: 100%;
    height: 40px;
    position: relative;
    transition: 1s;
    z-index: 1000;
}
#imgperfil{
    border-radius: 50%;
}
#perfil{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 5px;
    cursor: pointer;
}
#perfil::after{  
    content: "";
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all .3s ease;
}
#perfil:hover::after{
    content: "John";
    width: 100px;
    height: 20px;
    background-color: #ffffff50;
    position: absolute;
    left: 20px;
    top: 40px;
    border-radius: 0 10px 10px 10px;
}

.searchbox{
    position: absolute;
    left: 100px;
    background-color: #1a1a1a;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    padding-left: 40px;
}
#searchbox{
    background-color: transparent;
}
#searchsvg{
    position: absolute;
    left: 7px;
    top: 3px;
    cursor: pointer;
}
#searchsvg path{
    fill: #777;
}
#l-nav{
    position: absolute;
    background-color: #4d4d4d;
    width: 100%;
    height: 30px;
    top: -50px;
    transition: 1s ease;
    z-index: 998;
    display: flex;
    justify-content: space-around;

}
.logobtn{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #333;
    position: absolute;
    bottom: -20px;
    z-index: 999;
}
#logo40px{
    width: 40px;
}
#ul-nav{
    gap: 40px;
}
main{
    width: 100%;
    height: 100%;
    position: relative;
}
#container{
    max-height: 500px ;
    max-width: 600px;
    min-width: 400px ;
    min-height: 500px ;
    border-radius: 5px;
    background-color: #00000035;
    border-top: 1px solid #ffffff70;
    border-left: 1px solid #ffffff70;
    border-right: 1px solid #00000050;
    border-bottom: 1px solid #00000050;
    backdrop-filter: blur(10px);
    position: relative;
}
#logocenter{
    width: 100px;
    position: absolute;
    top: 40px;
}
.title{
    position: absolute;
    top: 30px;
    color: #ffffff;
}
.ulform{
    flex-direction: column;
    gap: 20px;

}
#cardsig{
    position: absolute;
    left: 0px;
}
#cardlog{
    position: absolute;
    left: 1000px;
}
.btntroca{
    position: absolute;
    bottom: 50px;
    cursor: pointer;
}
.btnentrar{
    position: absolute;
    bottom: 100px;
    width: 90px;
    height: 25px;
    border-radius: 5px;
    transition: 1s ease;
    opacity: 0;
    background-color: white;
    color: black;
    cursor: pointer;
}
.btnentrar:hover{
    filter: brightness(70%);
}